/* CSS DOCUMENT */
:root {
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f3f3f3;
    margin: 30px 50px;
    line-height: 1.4;
}

.btn {
    background: #fff;
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}

img {
    max-width: 100%;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
}

.main-nav ul {
    display: grid;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);

}

.main-nav a {
    background: #f3f3f3;
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
    color: black;
}

.showcase a {
    color: black;
}

.burger a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
}

a:hover {
    color: darkturquoise
}

#menuToggle {
    display: block;
    position: relative;
    top: 50px;
    left: 50px;

    z-index: 1;

    user-select: none;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #000;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;

    background: #f3f3f3;
    list-style-type: none;

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

#menuToggle input:checked ~ ul {
    transform: none;
}

.top-container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
        'showcase showcase top-box-a'
        'showcase showcase top-box-b';
}

.showcase {
    grid-area: showcase;
    min-height: 400px;
    background-image: url(../images/landscape.jpg);
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);
}

.showcase h1 {
    font-size: 4rem;
    margin-bottom: 0;
}

.showcase p {
    font-size: 1.3rem;
    margin-top: 0;
    color: #f3f3f3;
}

.top-box {
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding: 1.5rem;
    background-repeat: no-repeat;

}

.top-box .content {
    font-size: 2.5rem;
}

.top-box-a {
    grid-area: top-box-a;
    background-image: url(../images/surf.jpeg);
    background-size: cover;
}

.top-box-b {
    grid-area: top-box-b;
    background-image: url(../images/landscape2.jpeg);
    background-size: cover;
}

.top-box-b p {
    color: #f3f3f3;
    text-shadow: var(--shadow)
}

.top-box-a p {
    color: #f3f3f3;
    text-shadow: var(--shadow)
}

.showcase p {
    color: #fff;
}

.article-container {
    display: grid;
    grid-gap: 4rem;
    grid-template-areas:
        'article-box-a article-box-b'
        'article-box-d article-box-c'


}

.article-container h2 {
    font-size: 200%
}

.article-container p {
    line-height: 1.5;
}

.article-box-a {
    grid-area: article-box-a;
}


.article-box-b {
    grid-area: article-box-b;
}

article-box-c {
    grid-area: article-box-c;
    box-shadow: var(--shadow);
}

.article-box-d {
    grid-area: article-box-d;
}


/* Media Queries */
@media (max-width: 1250px) {
    .article-box-a {
        grid-area: article-box-a;
        padding: 0
    }
}

@media (min-width: 700px) {
    .burger {
        display: none;
    }
}


@media (max-width: 700px) {
    .top-container {
        grid-template-areas:
            'showcase showcase'
            'top-box-a top-box-b';
    }

    .showcase h1 {
        font-size: 2.5rem;
    }

    .btn {
        display: block;
        text-align: center;
        margin: auto;
    }


    .article-container {
        display: grid;
        grid-gap: 20px;
        grid-template-areas:
            'article-box-a'
            'article-box-b'
            'article-box-c'
            'article-box-d'

    }

    .showcase p {
        text-shadow: var(--shadow);
    }


    .main-nav {
        display: none;
    }

    .burger {
        margin-bottom: 3rem;
    }


}


@media (max-width: 500px) {
    .top-container {
        grid-template-areas:
            'showcase'
            'top-box-a'
            'top-   box-b';
    }


    .showcase > p {
        color: #fff;
    }
}