/* CSS DOCUMENT */

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f3f3f3;
    background-image: url(../images/background.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    line-height: 1.4;
    margin-left: 20px;
    margin-right: 20px;
}

.logo {
    display: flex;
    justify-content: center;

}

.logo img {
    z-index: 2
}

.burger a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: darkturquoise
}

#menuToggle {
    display: block;
    position: relative;
    top: 50px;
    left: 50px;

    z-index: 2;

    user-select: none;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #000;
    border-radius: 3px;

    z-index: 2;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;

    background: #f3f3f3;
    list-style-type: none;

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

#menuToggle input:checked ~ ul {
    transform: none;
}


.main-nav ul {
    display: grid;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(3, 1fr);

}

.main-nav a {
    background: #f3f3f3;
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.5);
    color: black;
}


.kontakt {
    display: flex;
    justify-content: center;
    margin-top: 1rem;

}

.kontakt p {
    width: 50%;
    font-size: 130%
}

.kontakt span {
    font-weight: bold;
}

.burger {
    display: none;
}

@media only screen and (max-width: 609px) {

    body {
        background: #f3f3f3;
        background-image: url(../images/background4.png);
        background-size: cover;
        background-position: center;
    }

    .showcase {
        height: 80%;
        background-image: url(../images/showcase5.png);
        background-size: cover;
        background-position: center;
        padding: 5rem;
        margin-top: 1rem;
    }

    .home-box-a p {
        width: 100%;
        font-size: 150%;
    }

    .home-box-a h1 {
        margin-top: 3rem;
    }

    .showcase p,
    .showcase h1 {
        color: #000;
        text-shadow: 0 1px 5px rgba(104, 104, 104, 0.5);
    }

    .wrapper {
        display: grid;
        grid-gap: 20px;
    }

    .concept {
        display: flex;
        justify-content: center;
        margin-top: 1rem;

    }

    .articles h1,
    .articles h2 {
        display: flex;
        justify-content: center;
    }

    .articles img {
        margin-top: 1rem;
        object-fit: cover;
        width: 100%;
    }

    .article-container {
        display: grid;
        grid-gap: 2rem;
        grid-template-areas:
            'article-box-a article-box-b'
            'article-box-c article-box-c'
            'article-box-d article-box-d'

    }

    .article-box-a {
        grid-area: article-box-a;
    }


    .article-box-b {
        grid-area: article-box-b;
    }

    article-box-c {
        grid-area: article-box-c;
    }

    .article-box-d {
        grid-area: article-box-d;
    }

    .article-box-e {
        grid-area: article-box-e;
    }

    .article-box-f {
        grid-area: article-box-f;
    }

    .article-box-g {
        grid-area: article-box-g;
    }

    .article-box-h {
        grid-area: article-box-h;
    }

    .article-box-i {
        grid-area: article-box-i;
    }

    .article-box-j {
        grid-area: article-box-j;
    }

    .PC-1 img {
        object-fit: cover;
        width: 100%;
        height: auto
    }

    .main-nav {
        display: none;
    }

    .burger {
        display: contents;
    }

    .points {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .box {
        display: grid;
        grid-gap: 2rem;
        grid-template-areas:
            'article-box-a'
            'article-box-b'
            'article-box-c'
            'article-box-d'
            'article-box-e'
            'article-box-f'
            'article-box-g'
            'article-box-h'
            'article-box-i'
            'article-box-j'

    }

    .article-box-b img {
        width: 250px;
    }

    .article-box-a p {
        font-size: 150%;
        text-align: center;
    }

    .concept {
        display: flex;
        justify-content: center;
        margin-top: 1rem;

    }

    .husk p {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        text-align: center;
        font-size: 130%;


    }

    .PC3 {
        margin-left: 1rem;
        margin-right: 1rem;
        display: grid;
        grid-gap: 2rem;
        grid-template-areas:
            'article-box-1'
            'article-box-2'
            'article-box-3'
            'article-box-4'
            'article-box-5'
            'article-box-6'
            'article-box-7'
            'article-box-8'
            'article-box-9'
            'article-box-10'
            'article-box-11'

    }

    .PC3 img {
        object-fit: cover;
        width: 100%;
        height: auto
    }

    .PC3 p {}

    .article-box-1 {
        grid-area: article-box-1;
    }


    .article-box-2 {
        grid-area: article-box-2;
    }

    article-box-3 {
        grid-area: article-box-3;
    }

    .article-box-4 {
        grid-area: article-box-4;
    }

    .article-box-5 {
        grid-area: article-box-5;
    }

    .article-box-6 {
        grid-area: article-box-6;
    }

    .article-box-7 {
        grid-area: article-box-7;
    }

    .article-box-8 {
        grid-area: article-box-8;
    }

    .article-box-9 {
        grid-area: article-box-9;
    }

    .article-box-10 {
        grid-area: article-box-10;
    }

    .article-box-11 {
        grid-area: article-box-11;
    }
}

/*Desktop*/
@media only screen and (min-width: 610px) {

    .articles h1,
    .articles h2 {
        display: flex;
        justify-content: center;
    }

    .articles img {
        margin-top: 1rem;
        object-fit: cover;
        width: 60%;
        margin-left: 20%;
        margin-right: 20%
    }

    .wrapper {
        display: grid;
        grid-gap: 20px;
    }

    .showcase {
        height: 80%;
        background-image: url(../images/showcase5.png);
        background-size: cover;
        background-position: center;
        padding: 5rem;
        margin-top: 1rem;
    }

    .showcase p {
        color: #000;
        text-shadow: 0 1px 5px rgba(104, 104, 104, 0.5);
        font-size: 100%;
        width: 70%;
    }

    .showcase h1 {
        color: #000;
        text-shadow: 0 1px 5px rgba(104, 104, 104, 0.5);
        font-size: 150%
    }

    .home-container {
        display: grid;
        grid-gap: 2rem;
        grid-template-areas:
            'article-box-a'


    }

    .home-box-a p {
        width: 80%;
        font-size: 150%
    }

    .home-box-a {
        grid-area: article-box-a;
        display: flex;
        flex-direction: column;
        align-items: flex-start
    }


    .home-box-b {
        grid-area: article-box-b;
    }

    home-box-c {
        grid-area: article-box-c;
    }

    .home-box-d {
        grid-area: article-box-d;
    }

    .points {
        display: flex;
        flex-direction: column;
        align-items: center;



    }

    .points img {
        margin-top: 1rem;
    }


    .PC-1 img {
        object-fit: cover;
        width: 100%;
        height: auto
    }


    .box {
        display: grid;
        grid-gap: 5rem;
        grid-template-areas:
            'article-box-a article-box-b'
            'article-box-c article-box-d'
            'article-box-e article-box-f'
            'article-box-g article-box-h'
            'article-box-i article-box-j'
    }

    .article-box-a p {
        font-size: 150%;
        text-align: center;
    }

    .article-box-b img {
        width: 250px;
    }

    .article-box-a {
        grid-area: article-box-a;
    }


    .article-box-b {
        grid-area: article-box-b;
    }

    article-box-c {
        grid-area: article-box-c;
    }

    .article-box-d {
        grid-area: article-box-d;
    }

    .article-box-e {
        grid-area: article-box-e;
    }

    .article-box-f {
        grid-area: article-box-f;
    }

    .article-box-g {
        grid-area: article-box-g;
    }

    .article-box-h {
        grid-area: article-box-h;
    }

    .article-box-i {
        grid-area: article-box-i;
    }

    .article-box-j {
        grid-area: article-box-j;
    }

    /*body {
    margin-left: 5rem;
    margin-right: 5rem;
}*/

    .concept {
        display: flex;
        justify-content: center;
        margin-top: 1rem;

    }

    .husk p {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        text-align: center;
        font-size: 130%;


    }

    .PC3 {
        margin-left: 2rem;
        margin-right: 2rem;
        display: grid;
        grid-gap: 2rem;
        grid-template-areas:
            'article-box-1'
            'article-box-2'
            'article-box-3'
            'article-box-4'
            'article-box-5'
            'article-box-6'
            'article-box-7'
            'article-box-8'
            'article-box-9'
            'article-box-10'
            'article-box-11'
            'article-box-12'

    }

    .PC3 img {
        object-fit: cover;
        width: 100%;
        height: auto
    }

    .article-box-1 {
        grid-area: article-box-1;
    }


    .article-box-2 {
        grid-area: article-box-2;
    }

    article-box-3 {
        grid-area: article-box-3;
    }

    .article-box-4 {
        grid-area: article-box-4;
    }

    .article-box-5 {
        grid-area: article-box-5;
    }

    .article-box-6 {
        grid-area: article-box-6;
    }

    .article-box-7 {
        grid-area: article-box-7;
    }

    .article-box-8 {
        grid-area: article-box-8;
    }

    .article-box-9 {
        grid-area: article-box-9;
    }

    .article-box-10 {
        grid-area: article-box-10;
    }

    .article-box-11 {
        grid-area: article-box-11;
    }



    .container {
        position: relative;
    }

    .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.6);
        overflow: hidden;
        width: 40%;
        height: 100%;
        transform: scale(0);
        transition: .3s ease;
        margin-left: 30%
    }

    .container:hover .overlay {
        transform: scale(1);
    }

    .text {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

}

@media only screen and (min-width: 1000px) {

    .PC3 {
        margin-left: 1rem;
        margin-right: 1rem;
        display: grid;
        grid-gap: 4rem;
        grid-template-areas:
            'article-box-1 article-box-2'
            'article-box-3 article-box-4'
            'article-box-5 article-box-6'
            'article-box-7 article-box-8'
            'article-box-9 article-box-10'
            'article-box-11 article-box-12'

    }

    .home-box-a p {
        width: 50%;
        font-size: 150%
    }

    .PC3 img {
        width: 100%
    }

    .articles img {
        margin-top: 1rem;
        object-fit: cover;
        width: 40%;
        margin-left: 30%
    }
}


@media only screen and (min-width: 1263px) {
    .home-box-a {
        grid-area: article-box-a;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center
    }
}




footer {
    display: flex;
    justify-content: center;
    color: #fff;
}

footer img {
    height: 4rem;
    display: flex;
    justify-content: center;
}

.arrow {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
}